@model List<Expenses>
@{
    ViewData["Title"] = "Expenses";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Expenses </h2>
        </div>
        <div class="col-6">
            <a class="nav-link text-dark btn btn-primary w-75" asp-area="" asp-controller="Expense" asp-action="CreateExpenses"> Create New Expense</a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Expenses Name</th>
                <th>Amount</th>
                <th>Expense Category</th>
                <th>Changes</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            { 
            <tr>
                <td width="20%">@item.ExpensesName</td>
                <td width="20%">@item.Amount</td>
                <td width="20%">@item.ExpenseCategory.Name</td>
                <td width="40%">
                    <div class="col-6 text-right">
                        <a asp-controller="Expense" asp-route-Id="@item.Id" asp-action="Update" class="btn btn-primary mx-1">Update</a>
                        <a asp-controller="Expense" asp-route-Id="@item.Id" asp-action="Delete" class="btn btn-danger mx-1">Delete</a>
                    </div>
                </td>
            </tr>
            }
            
        </tbody>
    </table>
</div>